<div class="container content">
	<div class="row">
			<div class="col-md-6 offset-md-3">
					<span class="anchor" id="formLogin"></span>

					<!--fomr card login with validation feedback-->
					<div class="card card-outline-secondary">
						<div class="card-header">
							<h1 class="mb-0">Whishlist</h1>
						</div>
						<div class="card-body">
							<!--Llamando a form destino viaje-->
							<app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
						</div>
					</div>
			</div>
	</div>

	<hr class="mb-5">
	<!--Cards -->
	<!-- ($event) acepta el evento que llega por el eventEmitter-->
	<!-- let i=index indice del for -->
	<div class="row">
		<app-destino-viaje 
			*ngFor="let d of all; let i=index" 
			[destino]="d"
			[position]="i+1"
			(clicked)="elegido($event)">
		</app-destino-viaje>
	</div>

	<hr class="mb-5">
	<!--Cards -->
	<!-- ($event) acepta el evento que llega por el eventEmitter-->
	<!-- let i=index indice del for -->
	<div class="row">
		<h5>Actividad</h5>
		<ul>
			<li *ngFor="let u of updates;">{{u}}</li>
		</ul>
	</div>	
</div>